<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidheat.musicplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".NoadPlayer"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.DriveModeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeToolbar"/>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeToolbar" />
        <activity
            android:name=".ui.activities.PlayActivity"
            android:label="@string/title_activity_play"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeToolbar.Overlay"/>

        <service
            android:name=".services.MusicPlayback"
            android:exported="false">
            <intent-filter>
                <action android:name="com.droidheat.musicplayer.action.CLOSE" />
                <action android:name="com.droidheat.musicplayer.action.PLAY_PAUSE" />
                <action android:name="com.droidheat.musicplayer.action.PLAY" />
                <action android:name="com.droidheat.musicplayer.action.REPEAT" />
                <action android:name="com.droidheat.musicplayer.action.TRACK_PREV" />
                <action android:name="com.droidheat.musicplayer.action.TRACK_NEXT" />
                <action android:name="com.droidheat.musicplayer.action.PERSISTENT_NOTIFICATION" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeToolbar"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".ui.activities.TimerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.widgets.MusicWidget4x1"
            android:label="Music Player">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetprovider4x1" />
        </receiver>
        <receiver
            android:name=".ui.widgets.MusicWidget4x2"
            android:label="Music Player">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetprovider4x2" />
        </receiver>
        <receiver
            android:name=".ui.widgets.MusicWidget4x1v2"
            android:label="Music Player">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetprovider4x1v2" />
        </receiver>

        <activity
            android:name=".ui.activities.IntentPlayActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.BROWSABLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.BROWSABLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.EqualizerActivity"
            android:label="Equalizer"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeToolbar" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActionBar" />
        <activity
            android:name=".ui.activities.GlobalDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeToolBarTranslucent" />
    </application>

</manifest>